<table>
  <thead>
    <th></th>
    <th>Company name</th>
    <th>Founder</th>
    <th>Country</th>
    <th>City</th>
    <th>Zip</th>
    <th>Street Adress</th>
    <th>Image</th>
    <th>HomePage</th>
  </thead>
  <tbody>
  {{#each company}}
    <tr>
      <td data-title="Select"><input type="checkbox" name="company" value="{{id}}"></td>
      <td data-title="Commany name">{{company_name}}</td>
      <td data-title="Founder">{{founder}}</td>
      <td data-title="Country">{{country}}</td>
      <td data-title="City">{{city}}</td>
      <td data-title="Zip">{{postal_code}}</td>
      <td data-title="Street Adress">{{street}}</td>
      <td data-title="Image"><img src="{{photo}}" alt="{{company_name}}'s picture"></td>
      <td data-title="HomePage"><a href="{{home_page}}" title="{{company_name}}'s Homepage">{{home_page}}</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
