<table>
  <thead>
    <th></th>
    <th>Company name</th>
    <th>Founder</th>
    <th>Country</th>
    <th>City</th>
    <th>Zip</th>
    <th>Street Adress</th>
    <th>Image</th>
    <th>HomePage</th>
  </thead>
  <tbody>
  {{#each company}}
    <tr>
      <td data-title="Select"><input type="checkbox" name="company" value="{{id}}"></td>
      <td data-title="Commany name">{{name}}</td>
      <td data-title="Fuonder">{{founder}}</td>
      <td data-title="Country">{{country}}</td>
      <td data-title="City">{{city}}</td>
      <td data-title="Zip">{{zip}}</td>
      <td data-title="Street Adress">{{streetAdress}}</td>
      <td data-title="Image"><img src="{{image}}" alt="{{name}}'s picture"></td>
      <td data-title="HomePage"><a href="{{homepage}}" title="{{name}}'s Homepage">{{homepage}}</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
